* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: lightgray;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    padding: .5em;
    margin: 0;
    align-items: center;
    font-size: .5em;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1em;
}

nav a:hover {
    color: blue;
}
nav ul li:nth-child(5){
    position: absolute;
    left: 46vw;
    font-size: 3em;
    padding: 0 .2em;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    z-index: -1;


}
nav ul li:nth-child(6){
    margin-left: auto;


}
nav ul li:nth-child(7){
    /*padding:1em;*/
}
nav ul li:nth-child(8){
    /*padding:1em;*/
}
nav ul li:nth-child(9){
    padding:1em;
}

