.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align:center;

}
h2, h3, h4, h5, h6 {
    color:sienna;
    text-decoration: underline;
}
#body {
    background-color:peachpuff;
    font-family:sans-serif;
    background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png);
     /*background-image: url("../img/sunset.jpeg") */
/*    background-repeat: no-repeat */
/*    background-size:auto */
}

ul  {
    list-style: square;
}

table tr td {
    margin: 40px;
    padding: 40px;
    font-style: normal;
    border-bottom: 1px solid #000;
}
th {
    color:white;
    border-bottom: 1px solid #000;
}
a:link{
   color:darkgray;
}
a:visited{
    color:coral;
}
a:hover{
    color:crimson;
}
footer {
    margin: 40px;
}



/*color after embedded stayed red because class was overwritten by
style attribute.

order is important if your targeting a specific portion */

